#h1
{
    color: rgb(43, 226, 49);
    font-family: 'Franklin Gothic Medium';
    font-size: xx-large;
    font-weight: bold;
    align-self: center;
  
}
.p
{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium';
    font-size: medium;
    font-weight: bold;
}